    <footer class="footer">
        <div class="footer__content">
            <p class="footer__text">
                <i class="fas fa-heart"></i>
                Barcelona te espera | 2025
            </p>
            <div class="footer__social">
                <a href="#" class="footer__social-link" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="footer__social-link" aria-label="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="footer__social-link" aria-label="Facebook">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
        </div>
    </footer>