@use 'variables' as *;

// ====================================
// Mixins
// ====================================

// Responsive breakpoints
@mixin respond-to($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: #{$breakpoint-sm - 1}) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  }
}


// Flexbox
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


@mixin absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


// Focus visible
@mixin focus-visible {
//   &:focus-visible {outline
//     outline-offset: 2px;outline-offsetoutline-offset
//   }
}
