/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

 /**
 * Import dependencies
 */
@use "dependencies";

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */

 @use "layouts/home";

/**
 * Do NOT include anything else in this file!
 */
// ====================================
// Main Stylesheet - Barcelona Site
// ====================================

// 1. Configuration
@use 'variables';
@use 'functions';
@use 'mixins';

// 2. Base
@use 'layouts/base';

// 3. Layouts
@use 'layouts/nav';
@use 'layouts/header';
@use 'layouts/container';
@use 'layouts/footer';

// 4. Components
@use 'components/places';
@use 'components/infolist';
@use 'components/hero';